.header {
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
}

/****** Media queries ***********/

@media (max-width: 607px) {
    .header {
        padding: 20px;
    }
}