.rating {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    i {
        font-size: 23px;
    }
    
    .red_star {
        color: #FF6060;
    }

    .grey_star {
        color: #E3E3E3;
    }
}