.logement {
    padding-left: 100px;
    padding-right: 100px;

    .logement_infos {
        display: flex;
        justify-content: space-between;

        .logement_title_location {
            display: flex;
            flex-direction: column;
            .logement_details {
                 h1 {
                    font-weight: 500;
                    font-size: 36px;
                    color: #FF6060;
                    margin-bottom: 0;
                 }
        
                 p {
                    font-size: 18px;
                    font-weight: 500;
                    margin-top: 5px;
                 }
            }

            .tags_list {
                display: flex;
                gap: 10px;
            }
        }
    
        .logement_host_notation {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .host {
                p {
                    padding-top: 5px;
                }
            }
        }
    }


    .collapse_list {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        padding-left: 0;
        margin-top: 20px;
        margin-bottom: 40px;

        li {
            width: 47%;
        }
    }

}


/****** Media queries ***********/

@media (max-width: 738px) {

    .logement {
        padding-left: 20px;
        padding-right: 20px;
        
        .carrousel {

            .prev, .next {
                font-size: 50px;
            }

            .counter {
                display: none;
            }
        }

        .logement_infos {
            display: flex;
            flex-direction: column;

            .logement_title_location {

                .logement_details {
                     h1 {
                        font-weight: 500;
                        font-size: 18px;
                        color: #FF6060;
                        margin-bottom: 0;
                     }
                }

                .tags_list {
                    flex-wrap: wrap;
                }
            }

            .logement_host_notation {
                flex-direction: row-reverse;
                justify-content: space-between;

                .rating {
                    align-items: center;
                    padding-top: 20px;
                }
            }
        }

        .collapse_list{
            flex-direction: column;
            justify-content: center;
            gap: 25px;
            width: 100%;
            li {
                width: 100%;
            }
        }
    
    }
}


@media (max-width: 577px) {

    .logement {
        
        .carrousel {

            .prev, .next {
                font-size: 20px;
            }

        }
    
    }
}