.logement {
    padding-left: 100px;
    padding-right: 100px;

    .logement_infos {
        display: flex;
        justify-content: space-between;
        .logement_details {
             h1 {
                font-weight: 500;
                font-size: 36px;
                color: #FF6060;
                margin-bottom: 0;
             }
    
             p {
                font-size: 18px;
                font-weight: 500;
                margin-top: 5px;
             }
        }
    }

    .logement_tags_notation {
        display: flex;
        justify-content: space-between;
        .tags_list {
            display: flex;
            gap: 10px;
        }
    }

    .collapse_list {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        padding-left: 0;
        margin-top: 20px;
        margin-bottom: 40px;

        li {
            width: 47%;
        }
    }

}
