
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 80px;
    gap: 40px;

    .locations-list {
        display: flex;
        gap: 40px;
        width: 100%;
        background-color: #F6F6F6;
        padding: 50px 40px;
        flex-wrap: wrap;
        border-radius: 25px;
    }
}