.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    padding-top: 60px;
    padding-bottom: 10px;
    gap: 10px;

    .copyright {
        p {
            font-size: 24px;
            font-weight: 500;
        }
    }

}

.footer-absolute {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/****** Media queries ***********/

@media (max-width: 400px) {
    .footer {
        .copyright {
            display: flex;
            justify-content: center;
            p {
                font-size: 12px;
                text-align: center;
                width: 70%; 
                word-break: break-word;
            }
        }
    }
}